<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
          <script src="../Connect/Connection.js"></script>
          <script src="../models/loginSchema.js"></script>
  </head>
  <body>
    <a href="register.html"><input type="button" name="" value="sigup"></a>

    <form class="" action="/login" method="POST">
      <span>UserName:</span>
      <input type="text" name="username" value="" id='username' required>
      <br>
      <span>Password:</span>
      <input type="password" name="password" value="" id='password' required>
      <br>
      <input type="submit" name="" value="Signin">
    </form>
  </body>
</html>
